* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.banner {
    height: 600px;
    background-image: url('../img/Imagenbanner.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    position: relative;
}

.banner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    z-index: 1;
}

.banner-content {
    z-index: 2;
    position: relative;
    down: 45px;

}

h1 {
    font-size: 48px;
    margin-bottom: 20px;
    padding-top: 40px;
    text-align: center;
}

h3 {
    padding-top: 10px;
    padding-bottom: 20px;
}

.btn {
    display: inline-block;
    padding: 15px 30px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-top: 70px;

}

.btn:hover {
    background-color: #ffb650;
}


nav {
    background-color: #e8d7be;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: right;
}

li {
    margin: 0 0px;
}

a {
    text-decoration: none;
    color: #333;
    font-size: 15px;
    font-weight: bold;
    padding: 15px 20px;
    display: block;
    transition: color 0.3s ease;
}

.anav {
    text-decoration: none;
    color: #333;
    font-size: 15px;
    font-weight: bold;
    padding: 15px 20px;
    display: block;
    transition: color 0.3s ease;
}

.anav:hover {
    color: #6d4820;
}


a:hover {
    color: #6d4820;
}

.satisfy-regular {
    font-family: "Satisfy", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 88px;
    margin-bottom: 0px;
}

/*css de las targetas */
.column {
    float: left;
    width: 33.3%;
    padding: 0 10px;
}


.row {
    margin: 0 -5px;
    padding-bottom: 40px;
    background-color: #e8d7be;
}


.row:after {
    content: "";
    display: table;
    clear: both;
}


@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}


.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
}

/*css de la alerta*/

.ventana {
    background-color: rgb(226, 140, 47);
    width: 300px;
    padding: 10px 20px;
    margin: 40% auto;
    position: relative;
}

.modal {
    background-color: rgba(0, 0, 0, 0);
    position: fixed;
    top: -250px;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    transition: all 1s;
}

#IrVentanaFlotante1:target {
    opacity: 1;
    pointer-events: auto;

}

#IrVentanaFlotante2:target {
    opacity: 1;
    pointer-events: auto;
}

#IrVentanaFlotante3:target {
    opacity: 1;
    pointer-events: auto;
}

/*css de seccion nosotros*/

.banner-nosotros {
    height: 600px;
    background-image: url('../img/imgcompletanosotros.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    position: relative;
}

/*CSS DEL COLOR DE LAS ESTRELLAS*/
.rating i {
    font-size: 20px;
    color: gold;
}

/*css tarjeta reseñas*/

.card-resena {
    padding: 16px;
    text-align: justify;
    color: #f1f1f1;
    background-color: #000000;
}

.row-resenas {
    margin: 0 -5px;
    padding-bottom: 40px;
    color: #f1f1f1;
    background-color: #000000;
}

.column-resenas {
    float: left;
    width: 33.3%;
    padding: 0 10px;
    background-color: #000000;
}

.row-resenas:after {
    content: "";
    display: table;
    clear: both;
}


@media screen and (max-width: 400px) {
    .column-resenas {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}

/*css de contactanos*/

.card-contacto {
    text-align: justify;
    color: #000000;


}

.row-contacto {
    margin: 0 -5px;
    color: #f1f1f1;
    background-color: #ffffff;
}

.row-contacto:after {
    content: "";
    display: table;
    clear: both;
}

.column-contacto {
    float: left;
    width: 50%;
    padding-left: 0px;
    background-color: #ffffff;
}


@media screen and (max-width: 400px) {
    .column-contacto {
        width: 100%;
        display: block;
        margin-bottom: 10px;

    }
}

.card-contacto1 {
    text-align: justify;
    color: #000000;
    padding-left: 80px;

}